<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Calendar</title>
</head>

<body>
    <header>
		<div class="centertitle">
			<h2>
			     CSCB63 -- Design and Analysis of Data Structures
			</h2>
		</div>
	</header>
	<nav>
		<div class="navbar">
			<a href="index.html">Home</a>
			<a class="active" href="calendar.html">Calendar</a>
            <a href="http://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home">Piazza</a>
			<a href="lectures.html">Lectures</a>
			<a href="tutorials.html">Labs</a>
			<a href="assignments.html">Assignments</a>
			<a href="https://exams-library-utoronto-ca.myaccess.library.utoronto.ca/browse?type=author&
            sort_by=1&order=ASC&rpp=20&etal=-1&value=University+of+Toronto+Scarborough&starts_with=cscb63">Tests</a>
			<a href="links.html">Links</a>
            <a href="https://markus.utsc.utoronto.ca/">Markus</a>
			<a href="https://docs.google.com/forms/d/e/1FAIpQLScmONkNeYUhndpMihiH0RTsWtCvjQEVjQ9dLHT9EoJQUjoSag/viewform">Feedback</a>
		</div>
	</nav>

	<div id="content">	
	<!-- Content of Calendar -->
    <p>
        If you wish to subscribe to the calendar the address is: 
        <a href="https://calendar.google.com/calendar/ical/f2oogqnfo1q728k3lcbtr4v478%40group.calendar.google.com/public/basic.ics">ical format</a>
        <br>
        <iframe src="https://calendar.google.com/calendar/embed?src=f2oogqnfo1q728k3lcbtr4v478%40group.calendar.google.com&ctz=America%2FToronto" 
        style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe></p>        
	<!-- End  -->
    </div>

    <footer>
        <div class="center">
            <a href=https://www.utsc.utoronto.ca/cms/faculty-of-computer-science>CS Faculty</a>
            &copy; Created by Johnson Lai, 2021
        </div>
    </footer>
</body>

</html>