<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/tutorials.css">
    <title>Labs</title>
</head>

<body>
    <header>
		<div class="centertitle">
			<h2>
			     CSCB63 -- Design and Analysis of Data Structures
			</h2>
		</div>
	</header>
	<nav>
		<div class="navbar">
			<a href="index.html">Home</a>
			<a href="calendar.html">Calendar</a>
            <a href="http://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home">Piazza</a>
			<a href="lectures.html">Lectures</a>
			<a class="active" href="tutorials.html">Labs</a>
			<a href="assignments.html">Assignments</a>
			<a href="https://exams-library-utoronto-ca.myaccess.library.utoronto.ca/browse?type=author&
            sort_by=1&order=ASC&rpp=20&etal=-1&value=University+of+Toronto+Scarborough&starts_with=cscb63">Tests</a>
			<a href="links.html">Links</a>
            <a href="https://markus.utsc.utoronto.ca/">Markus</a>
			<a href="https://docs.google.com/forms/d/e/1FAIpQLScmONkNeYUhndpMihiH0RTsWtCvjQEVjQ9dLHT9EoJQUjoSag/viewform">Feedback</a>
			<a href="courseteam.html">Course Team</a>
		</div>
	</nav>

	<div id="content">	
	<!-- Content of Labs -->
        <div class="Week">
            <div id="w1"><h3>Week 1: No Tutorial</h3>
            </div>
            <div id="w2"><h3>Week 2: Worst Case Complexity</h3>                
                <p>
                    Handout: <a href="../files/cscb63_worksheet1.pdf">handout</a> <br>
                    Solutions: <a href="../files/cscb63_worksheet1.pdf">solution</a> 
                </p>
            </div>
            <div id="w3"><h3>Week 3: AVL Trees Insert/Delete</h3>
                <p>
                    Handout: <a href="../files/cscb63_worksheet1.pdf">handout</a> <br>
                    Solutions: <a href="../files/cscb63_worksheet1.pdf">solution</a> 
                </p>
            </div>
            <div id="w4"><h3>Week 4: Practice Term test format</h3>
            </div>
            <div id="w5"><h3>Week 5: Graph Search Algorithms</h3>
                <p>
                    Handout: 
                    <a href="../files/cscb63_worksheet1.pdf">Graph Definitions</a>, 
                    <a href="../files/cscb63_worksheet1.pdf">BFS Handout</a>, 
                    <a href="../files/cscb63_worksheet1.pdf">BFS Practice</a>
                    <br>
                    Solutions: <a href="../files/cscb63_worksheet1.pdf">solution</a> 
                </p>
            </div>
            <div id="w6"><h3>Week 6: MSTs and Prims Algorithm	</h3>
                <p>
                    Handout: <a href="../files/cscb63_worksheet1.pdf">handout</a> <br>
                </p>
            </div>
            <div id="w7"><h3>Week 8: Dijkstra</h3>
                <p>
                    Handout: <a href="../files/cscb63_worksheet1.pdf">handout</a> <br>
                </p>
            </div>
        </div>
	<!-- End  -->
    </div>

    <footer>
        <div class="center">
            <a href=https://web.cs.toronto.edu/contact-us/faculty-directory>CS Faculty</a>
            &copy; Created by Johnson Lai, 2021
        </div>
    </footer>
</body>

</html>