/*include other css file*/
@import "header.css";
@import "leftbar.css";
@import "content.css";
@import "footer.css";



/*--------------Content-------------*/
/*assignme name/final exam*/
.content h2{
    font-family: Goudy Old Style;
    font-size: 2vw;
    margin-bottom: 0px;
}
/*submition website*/
.content h3{
    font-size: 1.4vw;
}
/*detail about assignment*/
.content p{
    font-size: 1.3vw;
    margin-left: 2em;
}
/*link*/
.content a{
    font-size: 1.3vw;
    text-decoration: none;
}
/*link hovered style*/
.content a:hover{
    font-size: 1.35vw;
    color:rgb(37, 75, 156);
}