<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" 
        rel="stylesheet"/>
    <title>CSCB63: Tutorial</title>
</head>
<body>
    <header>
        <div class="nav-bar">
            <a href="index.html">Home</a>
            <a href="calendar.html">Calendar</a>
            <a href="https://piazza.com/class/kju7e2uwa8p3sf">Discussion Board</a>
            <a href="lectures.html">Lectures</a>
            <a href="tutorials.html">Labs</a>
            <a href="assignments.html">Assignments</a>
            <a href="tests.html">Tests</a>
            <a href="https://markus.utsc.utoronto.ca/cscb20w21/">MarkUs</a>
            <a href="feedback.html">Anonymous Feedback</a>
            <a href="team.html">Course Team</a>
            <a href="links.html">Links</a>
        </div>
    </header>
    <section>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="intro">
            <h1><b>Tutorial/Lab Handouts</b></h1>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
    </section>

    <main>
        <section>
            <div class="course-card">
                <header class="card-head">
                  <h2>Week 1</h2>
                </header>
                <div class="card-info">
                    <p><b>Topic: </b>No lab this week</p>
                    <p><b>Handout: </b>n/a</p>
                    <p><b>Solutions: </b>n/a</p>
                </div>
            </div>
        </section>

        <section>
            <div class="course-card">
                <header class="card-head">
                  <h2>Week 2</h2>
                </header>
                <div class="card-info">
                    <p><b>Topic: </b>Worst Case Complexity</p>
                    <p><b>Handout: </b><a href="dummy_pdf.pdf">handout</a></p>
                    <p><b>Solutions: </b><a href="dummy_pdf.pdf">solution</a></p>
                </div>
            </div>
        </section>

        <section>
            <div class="course-card">
                <header class="card-head">
                  <h2>Week 3</h2>
                </header>
                <div class="card-info">
                    <p><b>Topic: </b>AVL Trees Insert/Delete</p>
                    <p><b>Handout: </b><a href="dummy_pdf.pdf">handout</a></p>
                    <p><b>Solutions: </b><a href="dummy_pdf.pdf">solution</a></p>
                </div>
            </div>
        </section>

        <section>
            <div class="course-card">
                <header class="card-head">
                  <h2>Week 4</h2>
                </header>
                <div class="card-info">
                    <p><b>Topic: </b>Practice Term Test Format</p>
                    <p><b>Handout: </b><a href="dummy_pdf.pdf">handout</a></p>
                    <p><b>Solutions: </b><a href="dummy_pdf.pdf">solution</a></p>
                </div>
            </div>
        </section>

        <section>
            <div class="course-card">
                <header class="card-head">
                  <h2>Week 5</h2>
                </header>
                <div class="card-info">
                    <p><b>Topic: </b>AVL Trees Insert/Delete</p>
                    <p><b>Handout: </b><a href="dummy_pdf.pdf">Graph Definitions</a></p>
                    <p><b>Solutions: </b><a href="dummy_pdf.pdf">solution</a></p>
                </div>
            </div>
        </section>

        <section>
            <div class="course-card">
                <header class="card-head">
                  <h2>Week 6</h2>
                </header>
                <div class="card-info">
                    <p><b>Topic: </b>MSTs and Prims Algorithms</p>
                    <p><b>Handout: </b><a href="dummy_pdf.pdf">handout</a></p>
                    <p><b>Solutions: </b><a href="dummy_pdf.pdf">solution</a></p>
                </div>
            </div>
        </section>

        <section>
            <div class="course-card">
                <header class="card-head">
                  <h2>Week 7</h2>
                </header>
                <div class="card-info">
                    <p><b>Topic: </b>Dijkstra</p>
                    <p><b>Handout: </b><a href="dummy_pdf.pdf">handout</a></p>
                    <p><b>Solutions: </b><a href="dummy_pdf.pdf">solution</a></p>
                </div>
            </div>
        </section>

        <section>
            <div class="course-card">
                <header class="card-head">
                  <h2>Week 8</h2>
                </header>
                <div class="card-info">
                    <p><b>Topic: </b>Amortized Analysis: Binary Counter</p>
                    <p><b>Handout: </b><a href="dummy_pdf.pdf">handout</a></p>
                    <p><b>Solutions: </b><a href="dummy_pdf.pdf">solution</a></p>
                </div>
            </div>
        </section>

        <section>
            <div class="course-card">
                <header class="card-head">
                  <h2>Week 9</h2>
                </header>
                <div class="card-info">
                    <p><b>Topic: </b>Probability</p>
                    <p><b>Handout: </b><a href="dummy_pdf.pdf">handout</a></p>
                    <p><b>Solutions: </b><a href="dummy_pdf.pdf">solution</a></p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>Author: Seyon Kuganesan</p>
        <p><a href="https://www.utsc.utoronto.ca/cms/">UofT Scarborough CMS Department</a></p>
    </footer>
</body>
</html>