<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/iviewall.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/mobile.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/png" />
    <title>CSCB63: Instructor Panel - Student Feedback</title>
</head>

<body>
    <header>
        <div class="nav-bar">
            <a href="javascript:void(0);" id="h-menu" class="permanent-option" onclick="flipMenu()"><i
                    class="fas fa-bars"></i></i></a>
            <a href="logout" id="logout" class="permanent-option"><i class="fas fa-sign-out-alt"></i></a>
            <div id="hidden-header">
                <a href="index.html"><b>&nbsp;C S C // B 6 3</b></a>
            </div>
            <div id="nav-menu">
                <a href="index.html"><i class="fas fa-home"></i></a>
                <a href="calendar.html">Calendar</a>
                <a href="https://piazza.com/class/kju7e2uwa8p3sf.html">Discussion Board</a>
                <a href="lectures.html">Lectures</a>
                <a href="tutorials.html">Labs</a>
                <a href="assignments.html">Assignments</a>
                <a href="tests.html">Tests</a>
                <a href="https://markus.utsc.utoronto.ca/cscb63w21/">MarkUs</a>
                <a href="team.html">Course Team</a>
                <a href="links.html">Links</a>
                <a class="active" href="instructorpanel.html">Instructor Panel</a>
            </div>
        </div>
    </header>

    <section>
        <div class="intro">
            <h1><b>Feedback</b></h1>
        </div>
    </section>

    <main>
        <div class="icontent" id="iviewcontent">
            <table class="itable">
                <tr>
                    <th>What did they like about the professor?</th>
                    <th>Suggestions for the professor?</th>
                    <th>What did they like about the TA?</th>
                    <th>Suggestions for the TA?</th>
                </tr>
                {% for item in feedbackH %}
                <tr>
                    <td>{{ item['FA'] }}</td>
                    <td>{{ item['FB'] }}</td>
                    <td>{{ item['FC'] }}</td>
                    <td>{{ item['FD'] }}</td>
                    <form name="feedback-form" id="fb-form" action="iviewfeedback.html" method="POST">
                        <td id="hidden-td">
                            <button id="trash-btn" type="submit" name="submission" value="delete"><i
                                    class="fa fa-trash-o" form="feedback-form"></i></button>
                        </td>
                        <input class="hidden-key" type="number" id="created-date" name="created-date"
                            value="{{item['CREATED']}}">
                    </form>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
    
    <!--footer-->
    <div class="footer">
        <img src="../static/images/2.png" alt="some_text" id="icon">

        <div id="text">
            <p>
                <a href="https://www.utsc.utoronto.ca/cms/faculty" class="links">Faculty of Computer Science</a><br>
                <i>Site design by Yuxin Chen, Johnson Lai, Seyon Kuganesan</i>
            <p>
        </div>
    </div>
    <script src="../static/js/mobile.js"></script>
    <script src="../static/js/iviewfeedback.js"></script>
</body>

</html>