<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/iview.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>CSCB63: Instructor Panel - All Grades</title>
</head>

<body>
    <header>
        <div class="nav-bar">
            <a href="javascript:void(0);" class="expand-menu-button" onclick="flipMenu()">Menu</a>
            <div id="nav-menu">
                <a href="index.html">Home</a>
                <a href="calendar.html">Calendar</a>
                <a href="https://piazza.com/class/kju7e2uwa8p3sf">Discussion Board</a>
                <a href="lectures.html">Lectures</a>
                <a href="tutorials.html">Labs</a>
                <a href="assignments.html">Assignments</a>
                <a href="tests.html">Tests</a>
                <a href="https://markus.utsc.utoronto.ca/cscb20w21/">MarkUs</a>
                <a href="feedback.html">Anonymous Feedback</a>
                <a href="team.html">Course Team</a>
                <a href="links.html">Links</a>
                <a class="active" href="instructorpanel.html">Instructor Panel</a>
            </div>
        </div>
    </header>

    <section>
        &nbsp;
        <div class="intro">
            <h1><b>All Grades</b></h1>
        </div>
        &nbsp;
    </section>

    <div class="icontent" id="iviewcontent">

        <table class="itable">
            <tr>
                <th>UTOR ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Assignment 1</th>
                <th>Assignment 2</th>
                <th>Assignment 3</th>
                <th>Test 1</th>
                <th>Test 2</th>
                <th>Test 3</th>
                <th>Final Exam</th>
            </tr>
            {% for item in studentH %}
            <tr>
                <td>{{ item['UTORID'] }}</td>
                <td>{{ item['FNAME'] }}</td>
                <td>{{ item['LNAME'] }}</td>
                <td>{{ item['A1'] }}%</td>
                <td>{{ item['A2'] }}%</td>
                <td>{{ item['A3'] }}%</td>
                <td>{{ item['T1'] }}%</td>
                <td>{{ item['T2'] }}%</td>
                <td>{{ item['T3'] }}%</td>
                <td>{{ item['FINAL'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!--footer-->
    <div class="footer">
        <img src="../static/images/2.png" alt="some_text" id="icon">

        <div id="text">
            <p>
                <a href="https://www.utsc.utoronto.ca/cms/faculty" class="links">Faculty of Computer Science</a><br>
                <i>Site design by Yuxin Chen, Johnson Lai, Seyon Kuganesan</i>
            <p>
        </div>
    </div>
    <script src="../static/js/mobile.js"></script>
</body>

</html>