<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/mobile.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>CSCB63: Lectures</title>
</head>

<body>
    <header>
        <div class="nav-bar">
            <a href="javascript:void(0);" id="h-menu" class="permanent-option" onclick="flipMenu()"><i
                    class="fas fa-bars"></i></i></a>
            <a href="logout" id="logout" class="permanent-option"><i class="fas fa-sign-out-alt"></i></a>
            <div id="hidden-header">
                <a href="index.html"><b>&nbsp;C S C // B 6 3</b></a>
            </div>
            <div id="nav-menu">
                <a href="index.html">Home</a>
                <a href="calendar.html">Calendar</a>
                <a href="https://piazza.com/class/kju7e2uwa8p3sf.html">Discussion Board</a>
                <a class="active" href="lectures.html">Lectures</a>
                <a href="tutorials.html">Labs</a>
                <a href="assignments.html">Assignments</a>
                <a href="tests.html">Tests</a>
                <a href="https://markus.utsc.utoronto.ca/cscb63w21/">MarkUs</a>
                {% if user_type != "instructor" %}
                <a href="feedback.html">Anonymous Feedback</a>
                {% endif %}
                <a href="team.html">Course Team</a>
                <a href="links.html">Links</a>
                {% if user_type == "instructor" %}
                <a href="instructorpanel.html">Instructor Panel</a>
                {% endif %}
                {% if user_type == "student" %}
                <a href="sviewgrades.html">Grade</a>
                {% endif %}
            </div>
        </div>
    </header>
    <section>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="intro">
            <h1><b>Lecture Schedule</b></h1>
            <p><i>Print and bring the lectures slides/handouts to class each week.</i></p>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
    </section>

    <main>
        <div class="parent">
            <div class="div1">
                <h2>Week</h2>
            </div>
            <div class="div2">
                <h2>Topic</h2>
            </div>
            <div class="div3">
                <h2>Wed Pre-Lecture Reading/Exercise</h2>
            </div>
            <div class="div4">
                <h2>Thursday Pre-Lecture Reading/Exercise</h2>
            </div>
            <div class="div5">
                <h2>Wednesday Slides/Video</h2>
            </div>
            <div class="div6">
                <h2>Thursday Slides/Video</h2>
            </div>
            <div class="div7">1</div>
            <div class="div8">Intro, Worst Case Complexity</div>
            <div class="div9">None</div>
            <div class="div10">CLRS 3.1 (not including little "oh") or watch <a
                    href="https://www.youtube.com/watch?v=__vX2sjlpXU">Big Oh video</a></div>
            <div class="div11"><a href="../static/files/dummy_pdf.pdf">Intro Slides PDF</a></div>
            <div class="div12"><a href="../static/files/dummy_pdf.pdf">Worksheet PDF</a></div>
            <div class="div13">2</div>
            <div class="div14">Balanced Trees (AVL)</div>
            <div class="div15">None</div>
            <div class="div16">Refresh your understanding of binary search trees <a
                    href="https://www.youtube.com/watch?v=mtvbVLK5xDQ">video</a></div>
            <div class="div17"><a href="../static/files/dummy_pdf.pdf">worksheet.pdf</a></div>
            <div class="div18"><a href="../static/files/dummy_pdf.pdf">Inclass Worksheet</a></div>
            <div class="div19">3</div>
            <div class="div20">AVL Trees height, and Augment. Interval Trees</div>
            <div class="div21">None</div>
            <div class="div22">None</div>
            <div class="div23"><a href="../static/files/dummy_pdf.pdf">AVL trees augmenting worksheet</a></div>
            <div class="div24"><a href="../static/files/dummy_pdf.pdf">Interval Trees Solutions</a></div>
            <div class="div25">4</div>
            <div class="div26">Finish Interval Trees, Heaps and Graph Search Algorithms </div>
            <div class="div27">None</div>
            <div class="div28">Chapter 6.1-6.4</div>
            <div class="div29"><a href="../static/files/dummy_pdf.pdf">Interval Tree Search proof</a>,
                <a href="../static/files/dummy_pdf.pdf">Heaps</a>
            </div>
            <div class="div30"><a href="../static/files/dummy_pdf.pdf">Heaps Inclass</a>,
                <a
                    href="https://utoronto.zoom.us/rec/play/cdZUm3Uso9zxI5cres_xWo-TFx4FObO-q42FyWdkhqHY3GtHnxdXVUldc8YjVobpapnvkGGfbRHntZKV.DpkZreT6rHqqcwT2">Zoom
                    recording</a>
            </div>
            <div class="div31">5</div>
            <div class="div32">Graph Searches and Minimum Spanning Trees</div>
            <div class="div33">Term Test Wednesday</div>
            <div class="div34">If you have not had your tutorial, read the graph handout on the tutorials page.</div>
            <div class="div35">None</div>
            <div class="div36"><a href="../static/files/dummy_pdf.pdf">Search Worksheet</a>, <a
                    href="../static/files/dummy_pdf.pdf">MST Slides</a></div>
            <div class="div37">6</div>
            <div class="div38">Proof of Prims, Dijkstra's Algorithm, Strongly Connected Components</div>
            <div class="div39">Ch 24.3, Practice Prims algorithm</div>
            <div class="div40">22.5, Review DFS - make sure you understand it</div>
            <div class="div41"><a href="../static/files/dummy_pdf.pdf">MST In Class</a>,
                <a href="../static/files/dummy_pdf.pdf">Dijkstra</a>
            </div>
            <div class="div42"><a href="../static/files/dummy_pdf.pdf">Strongly Connected Components Slides</a>,
                <a href="../static/files/dummy_pdf.pdf">SCC Examples</a>
            </div>
            <div class="div43">7</div>
            <div class="div44">Amortized Analysis</div>
            <div class="div45">Ch. 17.4, Ch. 21</div>
            <div class="div46">None</div>
            <div class="div47"><a href="../static/files/dummy_pdf.pdf">Amortized Lecture Slides</a></div>
            <div class="div48"><a href="../static/files/dummy_pdf.pdf">Potential lecture Slides</a></div>
            <div class="div49">8</div>
            <div class="div50">Disjoint Sets, Fibonacci Heaps</div>
            <div class="div51">Ch. 20</div>
            <div class="div52">None</div>
            <div class="div53"><a href="../static/files/dummy_pdf.pdf">Disjoint sets</a></div>
            <div class="div54"><a href="../static/files/dummy_pdf.pdf">Fibonacci Heaps Annotated</a></div>
        </div>
    </main>

    <!--footer-->
    <div class="footer">
        <img src="../static/images/2.png" alt="some_text" id="icon">

        <div id="text">
            <p>
                <a href="https://www.utsc.utoronto.ca/cms/faculty" class="links">Faculty of Computer Science</a><br>
                <i>Site design by Yuxin Chen, Johnson Lai, Seyon Kuganesan</i>
            <p>
        </div>
    </div>
    <script src="../static/js/mobile.js"></script>
</body>

</html>