<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" 
        rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/png" />

    <script>
        function validateForm(){
            var a = document.forms["newuser-form"]["fname"].value;
            var b = document.forms["newuser-form"]["lname"].value;
            var c = document.forms["newuser-form"]["utorid"].value;
            var d = document.forms["newuser-form"]["username"].value;
            var e = document.forms["newuser-form"]["password"].value;
            var f = document.forms["newuser-form"]["password-check"].value;
            if (a==null || a==""){
                alert("Please enter your first name.");
                return false;
            }
            else if (b==null || b==""){
                alert("Please enter your last name.");
                return false;
            }
            else if (c==null || c==""){
                alert("Enter your UTORid.");
                return false;
            }
            else if (d==null || d==""){
                alert("Enter a username.");
                return false;
            }
            else if (e==null || e==""){
                alert("Enter a password.");
                return false;
            }
            else if (f==null || f==""){
                alert("Please verify your password.");
                return false;
            }
            else if (!(f===e)){
                alert("Your password and confirmation password do not match.");
                return false;
            }
        }

        function validateUser(){

        }
    </script>

    <title>CSCB63: New User</title>
</head>
<body>
    <div class="container">
        <div class="wrap-content">
          <br>
          <form name="newuser-form"  action="/newuser" onsubmit="return validateForm()" target="_self" method="POST"  >
            <h1><b>Create Your Account</b></h1>
            {% if error %}
            <p>{{ error }}</p>
            {% endif %}
            <br>
            <br>
            <h5>Select user type:</h5>
            <select id="usertype">
                <option value="instructor">Instructor</option>
                <option value="student">Student</option>
            </select>
            <br>
            <h5>Select your lecture section:</h5>
            <select id="lecsection">
                <option value="one">1</option>
                <option value="two">2</option>
            </select>
            <br>
            <br>
            <h5>Fill in all the fields below:</h5>
            <input type="text" name="fname" placeholder="First Name"><br>
            <input type="text" name="lname" placeholder="Last Name"><br>
            <input type="text" name="utorid" placeholder="UTORid"><br>
            <input type ="text" name="username" placeholder="Username"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <input type="password" name="password-check" placeholder="Confirm Password"><br>
			<input type="submit" value="Create My Account">
	      </form>
        </div>
    </div>
    
    <div class="footer">
        <img src="../static/images/2.png" alt="some_text" id="icon">

        <div id="text">
            <p>
                <a href="https://www.utsc.utoronto.ca/cms/faculty" class="links">Faculty of Computer Science</a><br>
                <i>Site design by Yuxin Chen, Johnson Lai, Seyon Kuganesan</i>
            <p>
        </div>
    </div>
    <script src="../static/js/mobile.js"></script>
</body>
</html>