<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/student.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/mobile.css" /> <!-- MOBILE under STYLE (Priority) -->
    <link rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/png" />
    <title>CSCB63: Student Panel</title>
</head>
<body>
    <header> 
        <div class="nav-bar" id="bar">
            <a href="javascript:void(0);" id="h-menu" class="permanent-option" onclick="flipMenu()"><i
                class="fas fa-bars"></i></i></a>
            <a href="logout" id="logout" class="permanent-option"><i class="fas fa-sign-out-alt"></i></a>
            <div id="hidden-header">
                <a href="index.html"><b>&nbsp;C S C // B 6 3</b></a>
            </div>
            <div id="nav-menu">
                <a href="index.html">Home</a>
                <a href="calendar.html">Calendar</a>
                <a href="https://piazza.com/class/kju7e2uwa8p3sf.html">Discussion Board</a>
                <a href="lectures.html">Lectures</a>
                <a href="tutorials.html">Labs</a>
                <a href="assignments.html">Assignments</a>
                <a href="tests.html">Tests</a>
                <a href="https://markus.utsc.utoronto.ca/cscb63w21/">MarkUs</a>
                <a href="feedback.html">Anonymous Feedback</a>
                <a href="team.html">Course Team</a>
                <a href="links.html">Links</a>
                {% if user_type == "student" %}
                <a href="student.html" class="active">Student Panel</a>
                {% endif %}
            </div>
        </div>
    </header>

    <main>
        <div class="content">
            <div class="intro">
                <h1><b> Welcome {{name}}</b></h1>
                <hr>
            </div>
            
            <table class="grades">
                <tr>
                    <th>Assignment 1</th>
                    <th>Assignment 2</th>
                    <th>Assignment 3</th>
                    <th>Test 1</th>
                    <th>Test 2</th>
                    <th>Test 3</th>
                    <th>Final Exam</th>
                </tr>
                <tr>
                    <td>{{grade['A1']}}</td>
                    <td>{{grade['A2']}}</td>
                    <td>{{grade['A3']}}</td>
                    <td>{{grade['T1']}}</td>
                    <td>{{grade['T2']}}</td>
                    <td>{{grade['T3']}}</td>
                    <td>{{grade['FINAL']}}</td>
                </tr>
                {% if grade != None %}
                <tr>
                    <div class="remark_button">
                        <td><button id="Assignment 1">Request Remark</button></td>
                        <td><button id="Assignment 2">Request Remark</button></td>
                        <td><button id="Assignment 3">Request Remark</button></td>
                        <td><button id="Test 1">Request Remark</button></td>
                        <td><button id="Test 2">Request Remark</button></td>
                        <td><button id="Test 3">Request Remark</button></td>
                        <td><button id="Final Exam">Request Remark</button></td>
                    </div>
                </tr>
                {% endif %}
            </table>
    
    
            <div id="my_request_box" class="box">
                <div class="box-content">
                  <span id="close_box" class="close">&times;</span>
                  <p id="title">REQUEST FOR REMARK A1</p>
                  <hr>
                  <form action="student.html" method="POST" id="remark_request">
                    <input id="remark_area" type="text" name="remark_area">
                    <textarea id="explain" name="explain" rows="10" placeholder="Explain why you ask for a remark..."></textarea>
                    <input type="hidden" name="formName" value="remark">
                    <center><input type="submit" value="Submit" id="remark_submit" ></center>
                  </form>
                </div>
            </div>
            
            {% if section != None %}
            <h2>Anonymous Feedback</h2>
            <hr>
            <p>This is an opportunity to provide honest and confidential feedback about what is important to 
                you, both what you feel is working well in this class and what you feel can be 
                improved. Results of the survey will be used in all areas of CSCB63 to better understand 
                our students' experiences and opinions. We want to hear what you have to say and 
                then act on your behalf to improve our work. </p>
            <div id="feedback_box">
                <form action="student.html" method="POST">
                    <label for="FA">What do you like about the instructor teaching?</label>
                    <textarea name="FA" rows="5" class="feedback"></textarea>
                
                    <label for="FB">What do you recommend the instructor to do to improve their teaching?</label>
                    <textarea name="FB" rows="5" class="feedback"></textarea>
                
                    <label for="FC">What do you like about the tutorials?</label>
                    <textarea name="FC" rows="5" class="feedback"></textarea>
    
                    <label for="FD">What do you recommend the TAs do to improve their tutorials?</label>
                    <textarea name="FD" rows="5" class="feedback"></textarea>
                    
                    <input type="hidden" name="formName" value="feedback">
                    <center><input type="submit" value="Submit"></center>
                  </form>
            </div>
            {% endif %}
        </div>
    </main>
    
    
    <!--footer-->
    <div class="footer">
        <img src="../static/images/2.png" alt="some_text" id="icon"> 
        
        <div id="text">
            <p> 
                <a href="https://www.utsc.utoronto.ca/cms/faculty" class="links">Faculty of Computer Science</a><br>
                <i>Site design by Yuxin Chen, Johnson Lai, Seyon Kuganesan</i>
            <p>
        </div>
    </div>

    <script src="../static/js/student.js"></script>
</body>
</html>