<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/student.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" 
          rel="stylesheet"/>
    <title>CSCB63: Grades</title>
</head>
<body>
    <header>
        <div class="nav-bar">
            <a href="index">Home</a>
            <a href="calendar">Calendar</a>
            <a href="https://piazza.com/class/kju7e2uwa8p3sf">Discussion Board</a>
            <a href="lectures">Lectures</a>
            <a href="tutorials">Labs</a>
            <a href="assignments">Assignments</a>
            <a href="tests">Tests</a>
            <a href="https://markus.utsc.utoronto.ca/cscb20w21/">MarkUs</a>
            <a href="feedback">Anonymous Feedback</a>
            <a href="team">Course Team</a>
            <a href="links">Links</a>
        </div>
    </header>

    <div class="content">
        <div class="intro">
            <h1><b> Welcome {{name}}</b></h1>
            <hr>
        </div>
        
        <table class="grades">
            <tr>
                <th>Assignment 1</th>
                <th>Assignment 2</th>
                <th>Assignment 3</th>
                <th>Term Test 1</th>
                <th>Term Test 2</th>
                <th>Term Test 3</th>
                <th>Final Exam</th>
            </tr>
            <tr>
                <td>{{grade['A1']}}</td>
                <td>{{grade['A2']}}</td>
                <td>{{grade['A3']}}</td>
                <td>{{grade['T1']}}</td>
                <td>{{grade['T2']}}</td>
                <td>{{grade['T3']}}</td>
                <td>{{grade['FINAL']}}</td>
            </tr>
            <tr>
                <td><button id="A1">Request Remark</button></td>
                <td><button id="A2">Request Remark</button></td>
                <td><button id="A3">Request Remark</button></td>
                <td><button id="T1">Request Remark</button></td>
                <td><button id="T2">Request Remark</button></td>
                <td><button id="T3">Request Remark</button></td>
                <td><button id="FINAL">Request Remark</button></td>
            </tr>
        </table>
        <div id="my_request_box" class="request_box">
            <div class="box-content">
              <span id="close_box" class="close">&times;</span>
              <p id="title">REQUEST FOR REMARK A1</p>
              <hr>
              <form>
                <textarea rows="10", placeholder="Explain why you ask for a remark..."></textarea>
                <center><input type="submit" value="Submit"></center>
              </form>
            </div>
        </div>
    </div>


    <!--footer-->
    <div class="footer">
        <img src="../static/images/2.png" alt="some_text" id="icon"> 
        
        <div id="text">
            <p> 
                <a href="https://www.utsc.utoronto.ca/cms/faculty" class="links">Faculty of Computer Science</a><br>
                <i>Site design by Yuxin Chen, Johnson Lai, Seyon Kuganesan</i>
            <p>
        </div>
    </div>

    <script src="../static/js/student.js"></script>
</body>
</html>