<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/mobile.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>CSCB63: Tutorials</title>
</head>

<body>
    <header>
        <div class="nav-bar">
            <a href="javascript:void(0);" id="h-menu" class="permanent-option" onclick="flipMenu()"><i
                    class="fas fa-bars"></i></i></a>
            <a href="logout" id="logout" class="permanent-option"><i class="fas fa-sign-out-alt"></i></a>
            <div id="hidden-header">
                <a href="index.html"><b>&nbsp;C S C // B 6 3</b></a>
            </div>
            <div id="nav-menu">
                <a href="index.html">Home</a>
                <a href="calendar.html">Calendar</a>
                <a href="https://piazza.com/class/kju7e2uwa8p3sf.html">Discussion Board</a>
                <a href="lectures.html">Lectures</a>
                <a class="active" href="tutorials.html">Labs</a>
                <a href="assignments.html">Assignments</a>
                <a href="tests.html">Tests</a>
                <a href="https://markus.utsc.utoronto.ca/cscb63w21/">MarkUs</a>
                {% if user_type != "instructor" %}
                <a href="feedback.html">Anonymous Feedback</a>
                {% endif %}
                <a href="team.html">Course Team</a>
                <a href="links.html">Links</a>
                {% if user_type == "instructor" %}
                <a href="instructorpanel.html">Instructor Panel</a>
                {% endif %}
                {% if user_type == "student" %}
                <a href="sviewgrades.html">Grade</a>
                {% endif %}
            </div>
        </div>
    </header>
    <section>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="intro">
            <h1><b>Tutorial/Lab Handouts</b></h1>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
    </section>

    <main>
        <section>
            <div class="course-card">
                <header class="card-head">
                    <h2>Week 1</h2>
                </header>
                <div class="card-info">
                    <p><b>Topic: </b>No lab this week</p>
                    <p><b>Handout: </b>n/a</p>
                    <p><b>Solutions: </b>n/a</p>
                </div>
            </div>
        </section>

        <section>
            <div class="course-card">
                <header class="card-head">
                    <h2>Week 2</h2>
                </header>
                <div class="card-info">
                    <p><b>Topic: </b>Worst Case Complexity</p>
                    <p><b>Handout: </b><a href="dummy_pdf.pdf">handout</a></p>
                    <p><b>Solutions: </b><a href="dummy_pdf.pdf">solution</a></p>
                </div>
            </div>
        </section>

        <section>
            <div class="course-card">
                <header class="card-head">
                    <h2>Week 3</h2>
                </header>
                <div class="card-info">
                    <p><b>Topic: </b>AVL Trees Insert/Delete</p>
                    <p><b>Handout: </b><a href="dummy_pdf.pdf">handout</a></p>
                    <p><b>Solutions: </b><a href="dummy_pdf.pdf">solution</a></p>
                </div>
            </div>
        </section>

        <section>
            <div class="course-card">
                <header class="card-head">
                    <h2>Week 4</h2>
                </header>
                <div class="card-info">
                    <p><b>Topic: </b>Practice Term Test Format</p>
                    <p><b>Handout: </b><a href="dummy_pdf.pdf">handout</a></p>
                    <p><b>Solutions: </b><a href="dummy_pdf.pdf">solution</a></p>
                </div>
            </div>
        </section>

        <section>
            <div class="course-card">
                <header class="card-head">
                    <h2>Week 5</h2>
                </header>
                <div class="card-info">
                    <p><b>Topic: </b>AVL Trees Insert/Delete</p>
                    <p><b>Handout: </b><a href="dummy_pdf.pdf">Graph Definitions</a></p>
                    <p><b>Solutions: </b><a href="dummy_pdf.pdf">solution</a></p>
                </div>
            </div>
        </section>

        <section>
            <div class="course-card">
                <header class="card-head">
                    <h2>Week 6</h2>
                </header>
                <div class="card-info">
                    <p><b>Topic: </b>MSTs and Prims Algorithms</p>
                    <p><b>Handout: </b><a href="dummy_pdf.pdf">handout</a></p>
                    <p><b>Solutions: </b><a href="dummy_pdf.pdf">solution</a></p>
                </div>
            </div>
        </section>

        <section>
            <div class="course-card">
                <header class="card-head">
                    <h2>Week 7</h2>
                </header>
                <div class="card-info">
                    <p><b>Topic: </b>Dijkstra</p>
                    <p><b>Handout: </b><a href="dummy_pdf.pdf">handout</a></p>
                    <p><b>Solutions: </b><a href="dummy_pdf.pdf">solution</a></p>
                </div>
            </div>
        </section>

        <section>
            <div class="course-card">
                <header class="card-head">
                    <h2>Week 8</h2>
                </header>
                <div class="card-info">
                    <p><b>Topic: </b>Amortized Analysis: Binary Counter</p>
                    <p><b>Handout: </b><a href="dummy_pdf.pdf">handout</a></p>
                    <p><b>Solutions: </b><a href="dummy_pdf.pdf">solution</a></p>
                </div>
            </div>
        </section>

        <section>
            <div class="course-card">
                <header class="card-head">
                    <h2>Week 9</h2>
                </header>
                <div class="card-info">
                    <p><b>Topic: </b>Probability</p>
                    <p><b>Handout: </b><a href="dummy_pdf.pdf">handout</a></p>
                    <p><b>Solutions: </b><a href="dummy_pdf.pdf">solution</a></p>
                </div>
            </div>
        </section>
    </main>

    <!--footer-->
    <div class="footer">
        <img src="../static/images/2.png" alt="some_text" id="icon">

        <div id="text">
            <p>
                <a href="https://www.utsc.utoronto.ca/cms/faculty" class="links">Faculty of Computer Science</a><br>
                <i>Site design by Yuxin Chen, Johnson Lai, Seyon Kuganesan</i>
            <p>
        </div>
    </div>
    <script src="../static/js/mobile.js"></script>
</body>

</html>