.central-form {
    display: grid;
    width: 60%;
	margin-left: auto;
    margin-right: auto;
}

.central-form .fb-btn-c {
    margin: auto;
    width: 110px;
}

.central-form .top-option {
    margin: auto;
    width: 300px;
}

@media screen and (max-width: 600px) {	
	.central-form {
        width: 340px;
    }
}