/*--------------FOOTER-------------*/
.footer {
    /*position*/
    position: relative;
    bottom: 0;
    width: 100%;

    clear: both;
    /* Removed gaps on the right side */
    margin: auto;
    margin-bottom: -1.8vw;
   
    /*color matches background */
	background: rgb(220, 229, 238);
    z-index: 0;
}

.container {
    position: relative;
    min-height: 100vh;
}

.wrap-content {
    padding-bottom: 2.5rem;
}

.footer #icon{
    /*size*/
    width: 20%;

    /*position*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:2vw; 
}

.footer #text {
    /*font*/
    font-size: 1.25vw;
    text-align: center;
    
    /*color*/
    color:rgb(19, 40, 85);
    
    /*position*/
    padding-bottom:4vw;
}

/*link style*/
.footer .links {
    text-decoration:none;
    color:rgb(19, 40, 85);
}
.footer .links:hover {
    text-decoration:none;
    font-size: 1.3vw;
    color:rgb(150, 150, 233);
}