/* instructor-feedback and remarks shares this css */
.fa.fa-trash-o {
    opacity: 0.7;
}

.fa.fa-trash-o:hover {
    opacity: 1;
}

.hidden-key {
    display: none;
}

#hidden-td {
    border: none;
}