/* When the browser is too large */
@media screen and (min-width: 1500px) {
	.footer {
		width: 1500px;
	}
	.footer #text {
		font-size: 19px;
	}
	.footer .links:hover {
		font-size: 19px;
	}
	.grid-content, .grid-content-wide {
		width: 1380px;
		margin: auto;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

/* Laptop View */
@media screen and (max-width: 1100px) {
	.nav-bar #hidden-header {
		letter-spacing: .5em;
	}
	.parent {
		grid-gap: 4px;
		grid-template-columns: repeat(auto-fit, minmax(44px, 1fr));
		font-size: 16px;
	}
}

/* Tablet view */
@media screen and (max-width: 900px) {	
	.nav-bar #hidden-header {
		letter-spacing: .3em;
	}
	.intro {
		margin-bottom: 0px;
	}
	.parent {
		grid-gap: 3px;
		grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
		font-size: 14px;
	}
	.parent>div {
		padding: 3px;
		font-size: small;
	}
}

/* Mobile View */
@media screen and (max-width: 700px) {
	.nav-bar #hidden-header {
		letter-spacing: .2em;
	}
	.nav-bar a.expand-menu-button {
		display: inline-block;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: rgb(112, 112, 112);
	}
	#nav-menu {
		display: none;
	}
	.nav-bar a {
		width: 100%;
	}	
	.nav-bar a.permanent-option{
		width: 50%;
	}
	.parent {
		grid-gap: 1px;
		grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
		font-size: 12px;
	}
	.parent>div {
		padding: 4px;
		font-size: small;
	}
}