<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Home</title>
</head>

<body>
    <header>
		<div class="centertitle">
			<h2>
			     CSCB63 -- Design and Analysis of Data Structures
			</h2>
		</div>
	</header>
	<nav>
		<div class="navbar">
			<a class="active" href="index.html">Home</a>
			<a href="calendar.html">Calendar</a>
            <a href="http://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home">Piazza</a>
			<a href="lectures.html">Lectures</a>
			<a href="tutorials.html">Labs</a>
			<a href="assignments.html">Assignments</a>
			<a href="https://exams-library-utoronto-ca.myaccess.library.utoronto.ca/browse?type=author&
            sort_by=1&order=ASC&rpp=20&etal=-1&value=University+of+Toronto+Scarborough&starts_with=cscb63">Tests</a>
			<a href="links.html">Links</a>
            <a href="https://markus.utsc.utoronto.ca/">Markus</a>
			<a href="https://docs.google.com/forms/d/e/1FAIpQLScmONkNeYUhndpMihiH0RTsWtCvjQEVjQ9dLHT9EoJQUjoSag/viewform">Feedback</a>
			<a href="courseteam.html">Course Team</a>
		</div>
	</nav>

	<div id="content">	
	<!-- Content of HOME -->
        <h4>Essentials</h4>

        <hr>
		<h3>Course Description</h3>
		<p>Design, analysis, implementation and comparison of efficient data structures for common abstract data types. 
            Priority queues: heaps and mergeable heaps. Dictionaries: balanced binary search trees, B-trees, hashing. 
            Amortization: data structures for managing dynamic tables and disjoint sets. Data structures for representing graphs. 
            Graph searches.
        </p>
        <p><b><i>Exclusions: </i></b>CSC263H, CSC265H, (CSCC78H)</p>
        <p><b><i>Prerequisite: </i></b>CSCB36H or (CSCB38H) & [CGPA 2.75 or enrolment in a CSC subject POSt]</p>
        <p><b><i>Syllabus: </i></b><a href="../files/syllabus.png">syllabus.png</a></p>

        <hr>
        <h3>Instructor</h3>
        <p><b><i>Dr. Anna Bretscher</i></b><br>
            Email: <a href="mailto:anna.bretscher@utoronto.ca">anna.bretscher@utoronto.ca</a><br>
            Office: IC 493 <br>
        </p>
        
        <hr>
        <h3>Timetable</h3>
        <h5>Lectures</h5>  
        <p>Wednesdays 3-4pm <a href="https://utoronto.zoom.us/j/89553548645">Zoom Link</a>, 
            Thursdays 9:10-11:00  <a href="https://utoronto.zoom.us/j/83378932991">Zoom Link</a></p>
        <h5>Office Hours</h5>
        <p>Usually Mondays 11:00-12:30, Friday 10:40-11:30. Please see the calendar for weekly changes.</p>
	<!-- End  -->
    </div>

    <footer>
        <div class="center">
            <a href=https://www.utsc.utoronto.ca/cms/faculty-of-computer-science>CS Faculty</a>
            &copy; Created by Johnson Lai, 2021
        </div>
    </footer>
</body>

</html>