<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/lectures.css">
    <title>Lectures</title>
</head>

<body>
    <header>
		<div class="centertitle">
			<h2>
			     CSCB63 -- Design and Analysis of Data Structures
			</h2>
		</div>
	</header>
	<nav>
		<div class="navbar">
			<a href="index.html">Home</a>
			<a href="calendar.html">Calendar</a>
            <a href="http://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home">Piazza</a>
			<a class="active" href="lectures.html">Lectures</a>
			<a href="tutorials.html">Labs</a>
			<a href="assignments.html">Assignments</a>
			<a href="https://exams-library-utoronto-ca.myaccess.library.utoronto.ca/browse?type=author&
            sort_by=1&order=ASC&rpp=20&etal=-1&value=University+of+Toronto+Scarborough&starts_with=cscb63">Tests</a>
			<a href="links.html">Links</a>
            <a href="https://markus.utsc.utoronto.ca/">Markus</a>
			<a href="https://docs.google.com/forms/d/e/1FAIpQLScmONkNeYUhndpMihiH0RTsWtCvjQEVjQ9dLHT9EoJQUjoSag/viewform">Feedback</a>
			<a href="courseteam.html">Course Team</a>
		</div>
	</nav>

	<div id="content">	
	<!-- Content -->
        <div class="Week">
            <div id="w1"><h3>Week 1: Intro, Worst Case Complexity</h3>
                <p>
                    Wednesday Pre-Lecture Exercise: --- <br>
                    Wednesday Slides/Video: <a href="../files/cscb63_worksheet1.pdf">Intro Slides PDF</a> <br>
                    Thursday Pre-Lecture Exercise: CLRS 3.1 <a href="https://www.youtube.com/watch?v=__vX2sjlpXU">Big Oh Video</a>, 
                    <a href="https://www.youtube.com/watch?v=JU767SDMDvA">Insertion Sort Video</a> <br>
                    Thursday Slides/Video: 
                    <a href="../files/cscb63_worksheet1.pdf">Worksheet PDF</a>, 
                    <a href="https://utoronto.zoom.us/rec/play/w5Ims_xwzyJUVhutTMqNBT0caqXCWYyMWx5X-FJvA1dFPpCrjdO8V5osw6hsxEM74HVTmX9jZ2jdwCLj.qvnXbtIQPChGF0bo">Zoom Recording</a>, 
                    <a href="../files/cscb63_worksheet1.pdf">Worksheet1_class</a>, 
                    <a href="../files/cscb63_worksheet1.pdf">Slides PDF</a> 
                </p>
            </div>
            <div id="w2"><h3>Week 2: Balanced Trees (AVL)</h3>                
                <p>
                    Wednesday Pre-Lecture Exercise: --- <br>
                    Wednesday Slides/Video: <a href="../files/cscb63_worksheet1.pdf">Intro Slides PDF</a> <br>
                    Thursday Pre-Lecture Exercise: Refresh your understanding of binary search trees 
                    <a href="https://www.cs.usfca.edu/~galles/visualization/BST.html">video visualization applet</a> <br>
                    Thursday Slides/Video: 
                    <a href="../files/cscb63_worksheet1.pdf">Worksheet PDF</a>, 
                    <a href="https://utoronto.zoom.us/rec/play/w5Ims_xwzyJUVhutTMqNBT0caqXCWYyMWx5X-FJvA1dFPpCrjdO8V5osw6hsxEM74HVTmX9jZ2jdwCLj.qvnXbtIQPChGF0bo">Zoom Recording</a>, 
                    <a href="../files/cscb63_worksheet1.pdf">Worksheet1_class</a>, 
                    <a href="../files/cscb63_worksheet1.pdf">Slides PDF</a> 
                </p>
            </div>
            <div id="w3"><h3>Week 3: AVL Trees height, and Augment. Interval Trees</h3>
                <p>
                    Wednesday Pre-Lecture Exercise: --- <br>
                    Wednesday Slides/Video:                     
                    <a href="../files/cscb63_worksheet1.pdf">AVL trees augmenting worksheet</a>, 
                    <a href="../files/cscb63_worksheet1.pdf">In class worksheet</a>, 
                    <a href="https://utoronto.zoom.us/rec/play/xe3-BWhQIa99HuA6ar-kqNg028IUwxpfPnCN0r4sFtxP0_-MDbeK6coEm-bLm7b8GzO6FTwMXr9uqcMf.IvWbqDbkC9o5p3R1">Zoom Recording</a><br>
                    Thursday Pre-Lecture Exercise: --- <br>
                    Thursday Slides/Video: 
                    <a href="../files/cscb63_worksheet1.pdf">Interval Trees Solutions</a>, 
                    <a href="../files/cscb63_worksheet1.pdf">Interval Trees In Class</a>, 
                    <a href="https://utoronto.zoom.us/rec/play/79LC30arivLpru-P863qalDb3ZjdsfdFrBMQPw-LuxDxxyvhcF_SURRw1zHHzgoW4UaVzrkNw-akYHC9.z4jw34MXv1txuaEo">Zoom Recording</a> 
                </p>
            </div>
            <div id="w4"><h3>Week 4: Finish Interval Trees, Heaps and Graph Search Algorithms</h3>
                <p>
                    Wednesday Pre-Lecture Exercise: --- <br>
                    Wednesday Slides/Video:                     
                    <a href="../files/cscb63_worksheet1.pdf">Interval Tree Search Proof</a>, 
                    <a href="../files/cscb63_worksheet1.pdf">Heaps</a>, 
                    <a href="https://utoronto.zoom.us/rec/play/zpBKZxDPmhHRldejrZ0fnXt1Cvrp0ofjSzjzXwQiDCrBze29y1GDemjGLp8uMLg0txf5m4_Sl_j8Zg0g.17AKCDIZldEHg825">Zoom link</a> <br>
                    Thursday Pre-Lecture Exercise: Chapter 6.1-6.4 <br>
                    Thursday Slides/Video: 
                    <a href="../files/cscb63_worksheet1.pdf">Heaps Inclass</a>, 
                    <a href="../files/cscb63_worksheet1.pdf">Heap Building Example</a>, 
                    <a href="https://utoronto.zoom.us/rec/play/cdZUm3Uso9zxI5cres_xWo-TFx4FObO-q42FyWdkhqHY3GtHnxdXVUldc8YjVobpapnvkGGfbRHntZKV.DpkZreT6rHqqcwT2">Zoom Link</a>
                </p>
            </div>
            <div id="w5"><h3>Week 5: Graph Searches and Minimum Spanning Trees</h3>
                <p>
                    Wednesday Pre-Lecture Exercise: Term Test Wednesday <br>
                    Wednesday Slides/Video: --- <br>
                    Thursday Pre-Lecture Exercise: If you have not had your tutorial, read the graph handout on the tutorials page. <br>
                    Thursday Slides/Video: 
                    <a href="../files/cscb63_worksheet1.pdf">Graph Search Slides</a>, 
                    <a href="../files/cscb63_worksheet1.pdf">Searches Worksheet</a>, 
                    <a href="../files/cscb63_worksheet1.pdf">MST Slides</a>, 
                    <a href="../files/cscb63_worksheet1.pdf"> MST Worksheet</a>, 
                    <a href="../files/cscb63_worksheet1.pdf"> MST Worksheet Solutions <font color="red">(Updated)</font></a>, 
                    <a href="https://utoronto.zoom.us/rec/play/SCnzsPIBWdq0QN1KR9XM6yNQrRbY0n7iQwRZWlzycAsmUBJ0Qo0BlSLbE3jDoBP0TXfExU3mQcmS0jwS.5o01Wyhv502R1fm9">Zoom Link</a>, 
                    <a href="../files/cscb63_worksheet1.pdf">In Class Graph Notes<a>
                    <a href="../files/cscb63_worksheet1.pdf">MST in class</a>
                </p>
            </div>
            <div id="w6"><h3>Week 6: Proof of Prims, Dijkstra's Algorithm, Strongly Connected Components</h3>
                <p>
                    Wednesday Pre-Lecture Exercise: Ch 24.3, Practice Prims algorithm <br>
                    Wednesday Slides/Video: 
                    <a href="../files/cscb63_worksheet1.pdf"> MST In Class</a>, 
                    <a href="../files/cscb63_worksheet1.pdf">Dijkstra </a>, 
                    <a href="https://utoronto.zoom.us/rec/play/s8HE2dtGwcl7OWtfMMlQ9I_ivR3mmbieSP3lPhYygBqdIj7Do-uExVtGY5Ln-f0Pj9whkVdMS5w8hIU4.Glja1FlY-UeG3zYv">Zoom Link</a> <br>
                    Thursday Pre-Lecture Exercise: 22.5, Review DFS - make sure you understand it <br>
                    Thursday Slides/Video: 
                    <a href="../files/cscb63_worksheet1.pdf">Strongly Connected Components Slides</a>, 
                    <a href="../files/cscb63_worksheet1.pdf">SCC Examples</a>, 
                    <a href="https://utoronto.zoom.us/rec/play/-Trk15VmueBwP8g1ewUUDeMIp-jSbJT8RDztfFgbkbVvsJBFNTLr6h4ootD2bC7jyX9HiQomclqYqbYH.XEg8QLRQfSMQ0iv4">Zoom Link</a>
                </p>
            </div>
            <div id="w7"><h3>Week 7: Amortized Analysis</h3>
                <p>
                    Wednesday Pre-Lecture Exercise: Ch. 17.4, Ch. 21 <br>
                    Wednesday Slides/Video: 
                    <a href="../files/cscb63_worksheet1.pdf">Amortized Lecture slides In Class</a>, 
                    <a href="https://utoronto.zoom.us/rec/play/Ms9uZypiMbcYSes1jevEOJZf8cqMq_PBybH85r2rEdaARuXQOQcWF3dYgiaidZqGQTuaqchmJ1-hax4D.JS_0iOHyLPMjt66M">Zoom Link</a> <br>
                    Thursday Pre-Lecture Exercise: --- <br>
                    Thursday Slides/Video:                    
                    <a href="../files/cscb63_worksheet1.pdf">Potential Lecture slides</a>, 
                    <a href="../files/cscb63_worksheet1.pdf">Potential Lecture In Class</a>, 
                    <a href="https://utoronto.zoom.us/rec/play/CkJgpEBfL2nrdOuItJHlNO5xC3Uvy4-yYQePug3l-GEWE0h1ANwKM3H-pIrUfDv8WMUcJRXbFdaSUHi3.AmfGlBo6OeKxBGrb">Zoom Link</a>
                </p>
            </div>
            <div id="w8"><h3>Week 8: Disjoint Sets, Fibonacci Heaps</h3>
                <p>
                    Wednesday Pre-Lecture Exercise: Ch. 20 <br>
                    Wednesday Slides/Video: 
                    <a href="../files/cscb63_worksheet1.pdf">Disjoint Sets</a>, 
                    <a href="https://utoronto.zoom.us/rec/play/BM5ICZEeNZV0HlYeDiza1zvzCOPstKNpe6uxOw2pmw5Uq20Upz23r89scLKdSj6fgk033vB2RMclIV85.1ydcqiZ09BXwkTNh">Zoom Link</a> <br>
                    Thursday Pre-Lecture Exercise: --- <br>
                    Thursday Slides/Video: 
                    <a href="../files/cscb63_worksheet1.pdf">Fibonacci Heaps Annotated</a>, 
                    <a href="../files/cscb63_worksheet1.pdf">Fibonacci Heaps Complexity Annotated</a>, 
                    <a href="https://utoronto.zoom.us/rec/play/1xPM9-18oaFDzYKGHkwns_sBKZzpnpzgFDLvUyus1pdvP2FaYswyK4MTs329Hdq9_f_xpA8we7vb1JVy.yEqV7pl8ySuN6K__">Zoom Link</a>
                </p>
            </div>
        </div>
	<!-- End  -->
    </div>

    <footer>
        <div class="center">
            <a href=https://www.utsc.utoronto.ca/cms/faculty-of-computer-science>CS Faculty</a>
            &copy; Created by Johnson Lai, 2021
        </div>
    </footer>
</body>

</html>