<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Links</title>
</head>

<body>
    <header>
		<div class="centertitle">
			<h2>
			     CSCB63 -- Design and Analysis of Data Structures
			</h2>
		</div>
	</header>
	<nav>
		<div class="navbar">
			<a href="index.html">Home</a>
			<a href="calendar.html">Calendar</a>
            <a href="http://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home">Piazza</a>
			<a href="lectures.html">Lectures</a>
			<a href="tutorials.html">Labs</a>
			<a href="assignments.html">Assignments</a>
			<a href="https://exams-library-utoronto-ca.myaccess.library.utoronto.ca/browse?type=author&
            sort_by=1&order=ASC&rpp=20&etal=-1&value=University+of+Toronto+Scarborough&starts_with=cscb63">Tests</a>
			<a class="active" href="links.html">Links</a>
            <a href="https://markus.utsc.utoronto.ca/">Markus</a>
			<a href="https://docs.google.com/forms/d/e/1FAIpQLScmONkNeYUhndpMihiH0RTsWtCvjQEVjQ9dLHT9EoJQUjoSag/viewform">Feedback</a>
			<a href="courseteam.html">Course Team</a>
		</div>
	</nav>

	<div id="content">	
	<!-- Content -->
        <h4>Miscellaneous Links</h4>

        <hr>
		<h3>LaTeX Installations</h3>
        
        <p>For LaTeX installations, go to the latex project install 
            <a href="http://latex-project.org/ftp.html">website</a>. 
            Both the Windows and Mac versions listed come with editors as well as the packages and compilers.<br>
        </p>
        <p>Once you are up and running, I recommend downloading the 
            <a href="http://tobi.oetiker.ch/lshort/lshort.pdf"> Not So Short Guide to LaTeX</a>.
            Everything you need is there, however it may be overkill. You can also start with this 
            <a href="lectures/template.tex">template.tex</a> and add as you need.
        </p>
	<!-- End  -->
    </div>

    <footer>
        <div class="center">
            <a href=https://www.utsc.utoronto.ca/cms/faculty-of-computer-science>CS Faculty</a>
            &copy; Created by Johnson Lai, 2021
        </div>
    </footer>
</body>

</html>